<div class = "row" style="margin-bottom:50px">  
  <div class="col-md-1"></div>
  <div>
    <div class="container" style="max-width:850px">
      <!--=======START LOGIN BANNER====-->
      <div class="row" ng-show="!currentUser">  
        <div class="col-md-12">
          <div id="login-promo-container" style="width:100%; text-align: center">
            <div class="promo-content" style="padding-top: 25px !important; padding-bottom: 20px !important">
              <h1 clas="promo-title" style='font-size:44px; line-height: 1.2;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;letter-spacing: 0;font-weight: 700;font-style: normal;font-size: 32px;'>
                Build Your Lists.<br>Learn Something New.
              </h1>
              <h2 clas="promo-subtitle" style='max-width: 580px;margin: 10px auto; font-size: 16px;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;letter-spacing: 0; font-weight: 300;font-style: normal;'>
                Public &amp; private nested lists of text, links, &amp; images.
                Collaborate with others.
              </h2>
              <h3 class="clean-text" style='padding: 0 50px;font-size: 14px;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;letter-spacing: 0;font-weight: 400;font-style: normal;'>
                Login to start your lists!
              </h3>
              <div class="buttonSet">
                <a ng-click="loginGoogler($event)"
                  ng-href="/login">
                  <button class="clean-button login-button">Login With Google</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--=======END LOGIN BANNER======-->

      <div class = "row">  
        <div class="col-md-6" style="width:100%">
          <h2 class="heading-all-caps text-m" style="display:inline-block">
            <span ng-if="lists">{{totalLists}} </span>Public Lists
          </h2>
        </div>
      </div>

      <ul id="lists-table" class="cards cards--bordered js-collectionResultsList"
        infinite-scroll="loadMoreLists()" 
        infinite-scroll-immediate-check="true"
        infinite-scroll-disable="loadingMoreLists">
        <li class="card card-collection" >  
          <div class="clean-text" ng-if="!searchIsOpen">
            Click a list to view its items or share it on social networks.
            <span ng-bind="numActiveClients"></span>
          </div>
        </li>
        <li id="cta-create-first-public-list" class="card card-collection"
          style="display:none"
          ng-show="!lists || !lists.length">
          <a class="nav-link" ng-click="navigateToCreateNewList()">
            <button style="margin-left: 0px !important" class="clean-button">Create A List</button>
          </a>
          <br><br>
          <p class="clean-text">Create a public list of anything for the world to see.</p>

          <p class="clean-text"><b>Here are some ideas:</b></p>
          <ul class="clean-text">
            <li>A list of places to eat in your favorite city.</li>
            <li>A list of your favorite websites.</li>
            <li>A list of potential housing spots.</li>
            <li>A list of vegan recipe sites.</li>
            <li>A list of vegetarian recipes.</li>
            <li>A list of grocery stores.</li>
            <li>A list of job applications.</li>
            <li>A list of college applications.</li>
            <li>A list of scholarship applications.</li>
            <li>A list of your favorite cat pictures from around the web.</li>
          </ul>
        </li>

        <li class="card card-collection"
          ng-repeat="list in lists | orderBy:'-updatedAt' track by $index">
          <div class="u-tableCell" style="padding-right: 10px">
            <a class="link avatar u-baseColor--link"
              title="View {{list.title}}"
              ng-href="{{getListPath(list)}}">
              <img ng-style="!list.imageUrl && {'visibility':'hidden'}" ng-src="{{list.imageUrl}}" class=" u-size60x60" alt="View {{list.title}}">
            </a>
          </div>
          <div class="card-content" style="padding-left:0px !important;">
            <span ng-repeat="ancestorList in list.ancestors | orderBy:'createdAt'">
              <a class="link link--grey u-fontWeight400 u-fontSize12px" 
                ng-href="{{getListPath(ancestorList)}}"
                title="View This List."
                ng-mouseover="ancestorList.showDescription = true"
                ng-mouseleave="ancestorList.showDescription = false">
                {{ancestorList.title}} 
                <span class="u-colorLightGrey" style="margin-left: 2px; height: 10px;">&#8250;</span>
              </a>
              <span class="clean-container"
                ng-show="ancestorList.showDescription"
                style="position:absolute; top: 40px; left:10px; 
                  background-color: white; 
                  width:auto; height:auto;
                  z-index: 999999;">
                <a class="link link--primary u-accentColor--hoverTextNormal" 
                  ng-href="{{getListPath(ancestorList)}}"
                  title="View This List">
                  {{ancestorList.title}}
                </a><br>
                {{ancestorList.description}}
              </span>
            </span>
            <h3 class="card-name">
              <a class="link link--primary u-accentColor--hoverTextNormal" 
                ng-href="{{getListPath(list)}}"
                title="View This List">
                {{list.title}}
              </a>
            </h3>
            <p class="card-description">{{list.description}}</p>
            <div class="u-clearfix u-marginTop10">
              <span class="pubMetaInline">
                <a class="link u-colorLightGrey u-fontWeight400 u-fontSize12px" target="_blank" title="Go to {{getUserRefById(list.userId).username}}'s Lists" 
                  ng-click="navigateToUserLists(list.userId, $event)" 
                  ng-href="/lister/{{list.userId}}">
                  By {{getUserRefById(list.userId).username}}
                </a>
              </span>
              <span ng-show="list.numViews">
                <span class="middotDivider"></span>
                <span class="pubMetaInline">
                  <a class="link u-colorLightGrey u-fontWeight400 u-fontSize12px" target="_blank" title="View This List" 
                    ng-href="{{getListPath(list)}}"> 
                    {{list.numViews}}
                    View<span ng-if="list.numViews > 1">s</span>
                  </a>
                </span>
              </span>
              <span ng-show="list.itemCounts">
                <span class="pubMetaInline">
                  <a class="link u-colorLightGrey u-fontWeight400 u-fontSize12px" target="_blank" title="View This List" 
                    ng-href="{{getListPath(list)}}"> 
                    <span ng-if="list.itemCounts.links">
                      <span class="middotDivider"></span>
                      {{list.itemCounts.links}} Link<span ng-if="list.itemCounts.links > 1">s</span>
                    </span>
                    <span ng-if="list.itemCounts.images">
                      <span class="middotDivider"></span>
                      {{list.itemCounts.images}} Image<span ng-if="list.itemCounts.images > 1">s</span>
                    </span>
                    <span ng-if="list.itemCounts.texts">
                      <span class="middotDivider"></span>
                      {{list.itemCounts.texts}} Text<span ng-if="list.itemCounts.texts > 1">s</span>
                    </span>
                    <span ng-if="list.itemCounts.lists">
                      <span class="middotDivider"></span>
                      {{list.itemCounts.lists}} List<span ng-if="list.itemCounts.lists > 1">s</span>
                    </span>
                  </a>
                </span>
              </span>
              <span>
                <span class="middotDivider"></span>
                <span class="pubMetaInline">
                  <span class="clickable" title="Share this list on social media."
                    ng-click="list.socialShareMenuIsOpen = !list.socialShareMenuIsOpen">
                    <span  class="button-label">Share</span>
                  </span>
                  <ul style="display:inline-block"
                    ng-show="list.socialShareMenuIsOpen" 
                    ng-click="list.socialShareMenuIsOpen = !list.socialShareMenuIsOpen">
                      <li style="display:inline-block">
                        On
                      </li>
                      <li style="display:inline-block; padding-left: 3px">
                        <a style="display:inline-block; color: inherit"
                          title="Share this list on Facebook."
                          target="_blank"
                          ng-href="https://www.facebook.com/sharer/sharer.php?u=mylysts.com/list/{{list.urlSlug}}">
                          Facebook
                        </a>
                      </li>
                      <li style="display:inline-block; padding-left: 3px">
                        <a style="display:inline-block; color: inherit" title="Share this list on Twitter."
                          target="_blank"
                          ng-href="https://twitter.com/home?status={{getListShareOnTwitterText(list)}}">
                          Twitter
                        </a>
                      </li>
                      <li style="display:inline-block; padding-left: 3px">
                        <a style="display:inline-block; color: inherit"
                          title="Share this list on LinkedIn."
                          target="_blank"
                          ng-href="https://www.linkedin.com/shareArticle?mini=true&url=mylysts.com/list/{{list.urlSlug}}&title={{list.title}}&summary={{list.description}}&source=mylysts.com">
                          LinkedIn
                        </a>
                      </li>
                      <li style="display:inline-block; padding-left: 3px">
                        <a style="display:inline-block; color: inherit"
                          title="Share this list on Google+."
                          target="_blank"
                          ng-href="https://plus.google.com/share?url=mylysts.com/list/{{list.urlSlug}}">
                          Google+
                        </a>
                      </li>
                  </ul>
                </span>
              </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </div>
  <div class="col-md-1"></div>
</div>