<div class = "row" style="margin-bottom:50px">  
  <div class="col-md-1"></div>
  <div>
    <div class="container" style="max-width:850px">
      <div class="row">  
        <div class="col-md-6" style="width:100%">
          <h2 class="heading-all-caps text-m" style="display:inline-block">
            <span ng-if="currentUser">Search</span>
            <!--<a class="nav-link" style="color:initial"
              ng-if="!currentUser"
              ng-click="loginGoogler($event)" 
              ng-href="/login">
              Login to Search
            </a>-->
          </h2>
        </div>
      </div>
      <div ng-if="!currentUser" class = "row">  
        <div class="col-md-12">
          <!--<a class="link" title="Login to search lists and users."
            ng-click="loginGoogler($event)" 
            ng-href="/login">
            <p class="clean-text">Please click here to login and start searching for lists and other users.</p>
          </a>-->
          
          <!--=======START LOGIN BANNER====-->
          <div class="row" ng-show="!currentUser">  
            <div class="col-md-12">
              <div id="login-promo-container" style="width:100%; text-align: center">
                <div class="promo-content">
                  <h1 clas="promo-title" style='font-size:44px; line-height: 1.2;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;letter-spacing: 0;font-weight: 700;font-style: normal;font-size: 32px;'>
                    Build Your Lists. Follow Other Lists.
                  </h1>
                  <h2 clas="promo-subtitle" style='max-width: 580px;margin: 10px auto;padding: 0 25px;font-size: 24px;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;letter-spacing: 0; font-weight: 300;font-style: normal;'>
                    Create public and private lists of text, links, images, &amp; nested lists. 
                    Collaborate with others.
                  </h2>
                  <h3 class="clean-text" style='padding: 0 50px;font-size: 18px;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;letter-spacing: 0;font-weight: 400;font-style: normal;'>
                    Login to Search Lists &amp; Users
                  </h3>
                  <div class="buttonSet">
                    <a ng-click="loginGoogler($event)"
                      ng-href="/login">
                      <button class="clean-button login-button">Login With Google</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--=======END LOGIN BANNER======-->
        </div>
      </div>

      <ul ng-show="currentUser" id="lists-table" class="cards cards--bordered js-collectionResultsList"
        infinite-scroll="loadMoreLists()" 
        infinite-scroll-immediate-check="true"
        infinite-scroll-disable="loadingMoreLists">
        <li class="card card-collection" >
          <select id="new-item-type-select"
                            style="margin: 0 0 10px 0;" 
                            class="clean-button" 
                            name="singleSelect" 
                            ng-model="searchType"
                            ng-change="updateSearchType()"
                            ng-options="(x.substring(0,1).toUpperCase() + x.substring(1, x.length)) for x in searchTypes">
                          </select>
          <input id="input-search" style="width:60%; min-height: 50px; padding-left:5px" autofocus 
            class="clean-search-input" type="search"
            ng-model="searchKeywords" 
            placeholder="Search {{searchType == 'lists' ? 'lists by title or description.' : 'users by name or email'}} ...">
          <div class="clean-text">
            <i ng-show="searchType == 'lists' && searchingLists">Searching lists by {{searchKeywords}}</i>
            <i ng-show="searchType == 'users' && searchingUsers">Search users by {{searchKeywords}}</i>
            <i style="padding-top:5px" 
              ng-show="searchType == 'lists' && searchKeywords.length && !searchingLists">
              Found {{listSearchResults.length}} lists matching "{{searchKeywords}}"
            </i>
            <i style="padding-top:5px" 
              ng-show="searchType == 'users' && searchKeywords.length && !searchingUsers">
              Found {{userSearchResults.length}} users matching "{{searchKeywords}}"
            </i>
          </div>
        </li>
        <li ng-if="searchType == 'users'">
          <ul>
            <li ng-repeat="user in userSearchResults">
              <div>
                <div class="col-md-1">
                  <a title="Add {{user.username}}'s as a contributor to this list."
                  ng-click="addUserAsContributor(user)">
                    <img src="{{user.imageUrl}}"/>
                  </a>
                  <span class="clean-text" style="padding-left:10px" ng-if="user.addedAsContributor">Added as Contributor</span>
                </div>
                <div class="col-md-6">
                  <a ng-if="user.username" class="link u-baseColor--link" 
                    ng-href="/lister/{{user.id}}" title="View {{user.username}}'s lists.">
                    @{{user.username}}
                  </a>
                  <div class="u-clearfix u-marginTop10">
                    <span class="pubMetaInline">
                      <a class="link u-colorLightGrey u-fontWeight400 u-fontSize12px" target="_blank" title="Go to {{user.username}}'s Lists" 
                        ng-click="navigateToUserLists(user.id, $event)" 
                        ng-href="/lister/{{user.id}}">
                        {{user.numLists}} Lists
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li ng-if="searchType == 'lists'">
          <ul>
            <li class="card card-collection"
              ng-repeat="list in listSearchResults | orderBy:'-updatedAt' track by $index">
              <div class="card-content" style="padding-left:0px !important;">
                <h3 class="card-name">
                  <a class="link link--primary u-accentColor--hoverTextNormal" 
                    ng-href="{{getListPath(list)}}"
                    title="View This List">
                    {{list.title}}
                  </a>
                </h3>
                <p class="card-description">{{list.description}}</p>
                <div class="u-clearfix u-marginTop10">
                  <span class="pubMetaInline">
                    <a class="link u-colorLightGrey u-fontWeight400 u-fontSize12px" target="_blank" title="Go to {{getUserRefById(list.userId).username}}'s Lists" 
                      ng-click="navigateToUserLists(list.userId, $event)" 
                      ng-href="/lister/{{list.userId}}">
                      By {{getUserRefById(list.userId).username}}
                    </a>
                  </span>
                  <span ng-show="list.numViews">
                    <span class="middotDivider"></span>
                    <span class="pubMetaInline">
                      <a class="link u-colorLightGrey u-fontWeight400 u-fontSize12px" target="_blank" title="View This List" 
                        ng-href="{{getListPath(list)}}"> 
                        {{list.numViews}}
                        View<span ng-if="list.numViews > 1">s</span>
                      </a>
                    </span>
                  </span>
                  <span ng-show="list.numWatchers">
                    <span class="middotDivider"></span>
                    <span class="pubMetaInline">
                      <a class="link u-colorLightGrey u-fontWeight400 u-fontSize12px" target="_blank" title="View This List" 
                        ng-href="{{getListPath(list)}}"> 
                        {{list.numWatchers}}
                        Watcher<span ng-if="list.numWatchers > 1">s</span>
                      </a>
                    </span>
                  </span>
                  <span ng-show="list.itemCounts">
                    <span class="pubMetaInline">
                      <a class="link u-colorLightGrey u-fontWeight400 u-fontSize12px" target="_blank" title="View This List" 
                        ng-href="{{getListPath(list)}}"> 
                        <span ng-if="list.itemCounts.links">
                          <span class="middotDivider"></span>
                          {{list.itemCounts.links}} Link<span ng-if="list.itemCounts.links > 1">s</span>
                        </span>
                        <span ng-if="list.itemCounts.images">
                          <span ng-if="list.itemCounts.links" class="middotDivider"></span>
                          {{list.itemCounts.images}} Image<span ng-if="list.itemCounts.images > 1">s</span>
                        </span>
                        <span ng-if="list.itemCounts.texts">
                          <span ng-if="list.itemCounts.images" class="middotDivider"></span>
                          {{list.itemCounts.texts}} Text<span ng-if="list.itemCounts.texts > 1">s</span>
                        </span>
                        <span ng-if="list.itemCounts.lists">
                          <span ng-if="list.itemCounts.texts" class="middotDivider"></span>
                          {{list.itemCounts.lists}} Image<span ng-if="list.itemCounts.lists > 1">s</span>
                        </span>
                      </a>
                    </span>
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
  <div class="col-md-1"></div>
</div>